
<header th:fragment="header">
    <link rel="stylesheet" th:href="@{/css/default.css}" />
    <link rel="stylesheet" th:href="@{/css/default2.css}" />
    <link rel="stylesheet" th:href="@{/css/healthfood3.css}" />


    <div th:if="${session.user != null}">
        <!-- 로그인 상태일 때 헤더 (모양 A) -->
        <div class="menumain flex header-in">
            <a class="logo"><img src="/img/logo.png" /></a>
            <div class="space"></div>
            <nav class="menu">
                <ul>
                    <li><a href="#">영양진단</a></li>
                    <li><a href="#">챌린지</a></li>
                    <li><a href="#">레시피</a></li>
                    <li><a href="#">카드뉴스</a></li>
                    <li><a href="#">센터소개</a></li>
                    <li class="last">
                        <a >마이페이지<img src="/img/sample.png" /></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div th:if="${session.user == null}">
        <!-- 비로그인 상태일 때 헤더 (모양 B) -->
        <div class="menumain flex header-in">
            <a class="logo"><img src="/img/logo.png" /></a>
            <div class="space"></div>
            <nav class="menu">
                <ul>
                    <li><a href="#">영양진단</a></li>
                    <li><a href="#">챌린지</a></li>
                    <li><a href="#">레시피</a></li>
                    <li><a href="#">카드뉴스</a></li>
                    <li><a href="#">센터소개</a></li>
                    <li><a th:href="@{/usr/user/login}">마이페이지</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>