<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div style="max-width: 600px;">
  <div style="background-color: rgb(250,144,88); border-bottom: 2px solid rgb(255,220,194);  color: rgb(234, 236, 238); font-size: 28px; font-weight:bold; padding: 20px 30px;">
    헬스 푸드 랩(HealthyFoodLab)
  </div>
  <div style="line-height: 133%; padding: 30px;">
    <span>안녕하세요!&nbsp;<b>헬스 푸드 랩(HealthyFoodLab)</b>입니다.</span>
    <br>
    <br>
    <span>해당 이메일 주소로 비밀번호 재설정을 요청하여 인증할 수 있는 링크를 발송하였습니다. 본인이 요청한 것이 맞다면 아래 링크를 클릭하여 이메일 인증을 완료한 뒤 비밀번호를 재설정해 주시기 바랍니다.</span>
    <br>
    <br>
    <a href="#" style="background-color: rgb(250,144,88); border-radius: 0.375rem; color: rgb(234, 236, 238);display: inline-block; padding: 0.75rem 1rem; text-decoration: none; user-select: none" target="_blank" th:href="@{http://localhost:8080/member/recoverPasswordEmail (email=${email}, code=${code}, salt=${salt})}">인증하기</a>
    <br>
    <br>
    <span>만약, 이메일 서비스 제공자의 보안 정책에 따라 위 링크가 클릭되지 않는다면 아래의 링크를 복사하여 주소창에 붙여넣어 사용할 수도 있습니다.</span>
    <br>
    <br>
    <code style="background-color: rgb(234, 236, 238);  color: rgb(23,23,22);display: inline-block; font-size: 13px; padding: 15px;"
          th:text="${'http://localhost:8080/member/recoverPasswordEmail?email=' + email + '&code=' + code + '&salt=' + salt}">http://localhost8080:/member/recoverPasswordEmail&머시기저시기</code>
    <br>
    <br>
    <span>해당 링크를 타인에게 알려줄 경우 개인정보 도용의 위험이 있습니다. 절대 타인에게 알려주시 마시오.</span>
    <br>
    <br>
    <span>혹시 본인이 요청한 적 없다면 이 이메일을 폐기해 주시기 바랍니다.</span>
    <br>
    <br>
    <span>감사합니다.</span>
  </div>
</div>
</body>
</html>